<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />

<h5 class="mb-3">@ViewBag.ErrorMessage</h5>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Homepage</a>

